<div class="container mt-5">
    <h1 class="text-center fw-bold">Iniciar Sesión</h1>
    <hr>
    <form action="/auth/signIn" method="post">
        <div class="mb-3">
            <label for="email" class="form-label fw-bold">Correo Electronico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label fw-bold">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-dark fw-bold">Iniciar Sesión</button>
    </form>
</div>