<div class="container mt-5">
    <h1 class="text-center fw-bold">Registrarse</h1>
    <hr>
    <form action="/auth/signUp" method="post">
        <div class="mb-3">
            <label for="name" class="form-label fw-bold">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label fw-bold">Correo Electronico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label fw-bold">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-dark fw-bold">Registrarse</button>
    </form>
</div>

